.page {
  position: relative;
  align-items: center;
  background-color: #111;
  background-image: url("/assets/tinified/404-quality-40.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

.primaryAction {
  position: absolute;
  font-weight: 700;
  text-decoration: none;
  top: 66%;
  left: 16%;
  color: #141058;
  font-size: 5.5vw;
}

.primaryAction:hover,
.primaryAction:focus-visible {
  color: #555;
}

@media (max-width: 480px) {
  .page {
    padding: 1rem;
  }
}
